# Dict

In [1]:
mydict1 = {"name": "iman", "age": 27, "city": "Shiraz", "job": "DevOps"}
print(mydict1)

{'name': 'iman', 'age': 27, 'city': 'Shiraz', 'job': 'DevOps'}

In [2]:
print(type(mydict1))

<class 'dict'>

In [3]:
mydict1["name"]

'iman'

In [2]:
mydict1.items()

dict_items([('name', 'iman'), ('age', 27), ('city', 'Shiraz'), ('job', 'DevOps')])

In [5]:
for k,v in mydict1.items():
    print(f"the key is: {k} and the value is: {v}")

the key is: name and the value is: iman
the key is: age and the value is: 27
the key is: city and the value is: Shiraz
the key is: job and the value is: devops

In [7]:
mydict1["family"] = "jowkr"

In [8]:
print(mydict1)

{'name': 'iman', 'age': 27, 'city': 'Shiraz', 'job': 'devops', 'family': 'jowkr'}

In [9]:
mydict1.keys()

dict_keys(['name', 'age', 'city', 'job', 'family'])

In [11]:
mydict1.values()

dict_values(['iman', 27, 'Shiraz', 'devops', 'jowkr'])

In [12]:
mydict1.items()

dict_items([('name', 'iman'), ('age', 27), ('city', 'Shiraz'), ('job', 'devops'), ('family', 'jowkr')])

In [13]:
mydict1["name"] = "hossein"
print(mydict1)

{'name': 'hossein', 'age': 27, 'city': 'Shiraz', 'job': 'devops', 'family': 'jowkr'}

In [14]:
mydict2 = mydict1
mydict2["age"] = 44

print(mydict1)
print(mydict2)

{'name': 'hossein', 'age': 44, 'city': 'Shiraz', 'job': 'devops', 'family': 'jowkr'}
{'name': 'hossein', 'age': 44, 'city': 'Shiraz', 'job': 'devops', 'family': 'jowkr'}

In [15]:
mydict3 = mydict1.copy()
mydict3["age"] = 88
print(mydict1)
print(mydict3)

{'name': 'hossein', 'age': 44, 'city': 'Shiraz', 'job': 'devops', 'family': 'jowkr'}
{'name': 'hossein', 'age': 88, 'city': 'Shiraz', 'job': 'devops', 'family': 'jowkr'}

In [16]:
mydict3.keys()

dict_keys(['name', 'age', 'city', 'job', 'family'])

In [18]:
list(mydict3.keys())

['name', 'age', 'city', 'job', 'family']

In [19]:
list(mydict3.values())

['hossein', 88, 'Shiraz', 'devops', 'jowkr']

In [20]:
print(mydict3)
mydict3.update({"name": "ali", "age": 222})
print(mydict3)

{'name': 'hossein', 'age': 88, 'city': 'Shiraz', 'job': 'devops', 'family': 'jowkr'}
{'name': 'ali', 'age': 222, 'city': 'Shiraz', 'job': 'devops', 'family': 'jowkr'}

In [21]:
mydict3.pop("job")  # give us key and remove the key and its value
print(mydict3)

{'name': 'ali', 'age': 222, 'city': 'Shiraz', 'family': 'jowkr'}

In [22]:
mydict3.popitem() # remove the last element in dict and show you which on was removed

('family', 'jowkr')

In [23]:
print(mydict3)

{'name': 'ali', 'age': 222, 'city': 'Shiraz'}

In [24]:
print(mydict3)
mydict3.clear()  # clear all dict
print(mydict3)

{'name': 'ali', 'age': 222, 'city': 'Shiraz'}
{}

In [26]:
mylst = [[k,v] for k,v in mydict2.items()]
print(mylst)

[['name', 'hossein'], ['age', 44], ['city', 'Shiraz'], ['job', 'devops'], ['family', 'jowkr']]

In [27]:
mydict4 = {}
for k in mylst:
    mydict4[k[0]] = k[1]

print(mydict4)

{'name': 'hossein', 'age': 44, 'city': 'Shiraz', 'job': 'devops', 'family': 'jowkr'}

In [28]:
mydict5 = {item[0]:item[1] for item in mylst}
print(mydict5)

{'name': 'hossein', 'age': 44, 'city': 'Shiraz', 'job': 'devops', 'family': 'jowkr'}

# Example

In [8]:
scores = {'iman': [2,2,3], 'jack': [5,5,5], 'ali': [34,3,2], 'hossein': [20,20,19]}

res_dict = dict.fromkeys(scores.keys(), 0)
print(res_dict)

{'iman': 0, 'jack': 0, 'ali': 0, 'hossein': 0}

# calculate the mean score of each student

In [9]:
for k,v in scores.items():
    res_dict[k] = sum(v) / len(v)

print(res_dict)

{'iman': 2.3333333333333335, 'jack': 5.0, 'ali': 13.0, 'hossein': 19.666666666666668}

In [11]:
sum(list(range(10)))

45

In [13]:
mylst = list(range(10))
print(mylst)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
v = 0 
for i in mylst:
    v += i
print(v)

45

# count

In [20]:
mylst = [1,2,3,4,3,2,1,2,3,4,2,3,2,3,4, 6, 5,5 ]
print(mylst)

[1, 2, 3, 4, 3, 2, 1, 2, 3, 4, 2, 3, 2, 3, 4, 6, 5, 5]

In [21]:
set(mylst)

{1, 2, 3, 4, 5, 6}

In [22]:
list(set(mylst))

[1, 2, 3, 4, 5, 6]

In [23]:
mydict = dict.fromkeys(list(set(mylst)), 0)
print(mydict)

{1: 0, 2: 0, 3: 0, 4: 0, 5: 0, 6: 0}

In [24]:
for i in list(set(mylst)):
    mydict[i] = mylst.count(i)
print(mydict)

{1: 2, 2: 5, 3: 5, 4: 3, 5: 2, 6: 1}

In [30]:
population = {
    "China": 1412,
    "India": 1429,
    "United States": 339,
    "Indonesia": 277,
    "Pakistan": 241,
    "Brazil": 216,
    "Nigeria": 227,
    "Bangladesh": 173,
    "Russia": 146,
    "Mexico": 129
}
print(population)

{'China': 1412, 'India': 1429, 'United States': 339, 'Indonesia': 277, 'Pakistan': 241, 'Brazil': 216, 'Nigeria': 227, 'Bangladesh': 173, 'Russia': 146, 'Mexico': 129}

In [33]:
pop_list = list(population.values())
print(pop_list)

[1412, 1429, 339, 277, 241, 216, 227, 173, 146, 129]

In [37]:
pop_list.sort()
print(pop_list)

[129, 146, 173, 216, 227, 241, 277, 339, 1412, 1429]

In [ ]:
mynew_dict = {}
for k,v in population.items():