# Tuple

In [3]:
tup = (1,2,3,4)
print(tup)

(1, 2, 3, 4)

In [4]:
print(type(tup))

<class 'tuple'>

In [5]:
for i in tup:
    print(i)

1
2
3
4

# unpack a tuple

In [7]:
a1,a2,a3,a4 = tup
print(a1)
print(a2)
print(a3)
print(a4)

1
2
3
4

In [8]:
a, *lst = tup
print(tup)
print(a)
print(lst)

(1, 2, 3, 4)
1
[2, 3, 4]

In [9]:
*lst, a = tup
print(tup)
print(a)
print(lst)

(1, 2, 3, 4)
4
[1, 2, 3]

In [10]:
a, *lst, c = tup
print(tup)
print(a)
print(lst)
print(c)

(1, 2, 3, 4)
1
[2, 3]
4

In [12]:
ages = {
    "Alice": 25,
    "Bob": 30,
    "Charlie": 22,
    "Diana": 28,
    "Evan": 35
}

print(ages)

{'Alice': 25, 'Bob': 30, 'Charlie': 22, 'Diana': 28, 'Evan': 35}

In [15]:
mylst = [(k,v) for k,v in ages.items()]
print(mylst)

[('Alice', 25), ('Bob', 30), ('Charlie', 22), ('Diana', 28), ('Evan', 35)]

In [16]:
for name,age in mylst:
    print(f"your name is : {name} and you age is {age}")

your name is : Alice and you age is 25
your name is : Bob and you age is 30
your name is : Charlie and you age is 22
your name is : Diana and you age is 28
your name is : Evan and you age is 35