# functions

## list.sort()
* Works only on lists
* Sorts the list in place
* Returns None
* Changes the original list

In [6]:
nums = [3, 1, 4, 2]
nums.sort()
print(nums)   # [1, 2, 3, 4]

[1, 2, 3, 4]

## sorted()
* Works on any iterable (list, tuple, string, set, etc.)
* Returns a new sorted list
* Does not change the original data

In [3]:
nums = [3, 1, 4, 2]
new_nums = sorted(nums)
print(new_nums)  # [1, 2, 3, 4]
print(nums)      # [3, 1, 4, 2] (unchanged)

[1, 2, 3, 4]
[3, 1, 4, 2]

In [4]:
lst = list(range(10))
print(lst)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
print(lst[slice(1,9,2)])

[1, 3, 5, 7]

In [9]:
print(lst[1:9:2])

[1, 3, 5, 7]

# enumerate()

In [12]:
lst = ['Iman', "ali", "jack", "test"]
print(lst)

['Iman', 'ali', 'jack', 'test']

In [13]:
enumerate(lst)

In [14]:
list(enumerate(lst))

[(0, 'Iman'), (1, 'ali'), (2, 'jack'), (3, 'test')]

In [16]:
print(lst)
for idx,val in enumerate(lst):
    print(idx, val)

['Iman', 'ali', 'jack', 'test']
0 Iman
1 ali
2 jack
3 test

## Example without enumerate()

In [17]:
colors = ["red", "green", "blue"]
index = 0

for color in colors:
    print(index, color)
    index += 1

0 red
1 green
2 blue

## Same example with enumerate()

In [18]:
colors = ["red", "green", "blue"]

for index, color in enumerate(colors):
    print(index, color)

0 red
1 green
2 blue

## zip

In [14]:
names = ["Alice", "Bob", "Charlie"]
scores = [85, 90, 88]
age = [22, 44, 33]
print(names)
print(scores)

print(list(zip(names, scores, age)))

['Alice', 'Bob', 'Charlie']
[85, 90, 88]
[('Alice', 85, 22), ('Bob', 90, 44), ('Charlie', 88, 33)]

In [19]:
names = ["Alice", "Bob", "Charlie"]
scores = [85, 90, 88]

print(zip(names, scores))

<zip object at 0x000001F88215CC40>

In [20]:
print(list(zip(names, scores)))

[('Alice', 85), ('Bob', 90), ('Charlie', 88)]

In [21]:
names = ["Alice", "Bob", "Charlie"]
scores = [85, 90, 88]

for name, score in zip(names, scores):
    print(name, score)

Alice 85
Bob 90
Charlie 88

## Unzipping with *

In [15]:
pairs = [(1, 'a'), (2, 'b'), (3, 'c')]
print(pairs)
numbers, letters = zip(*pairs)

print(numbers)  # (1, 2, 3)
print(letters)  # ('a', 'b', 'c')

[(1, 'a'), (2, 'b'), (3, 'c')]
(1, 2, 3)
('a', 'b', 'c')

In [28]:
list(zip(*pairs))

[(1, 2, 3), ('a', 'b', 'c')]

In [24]:
a = [1,2,3]
b = [4,5,6]
result_sum = [ai+bi for ai,bi in zip(a,b)]
print(a)
print(b)
print(result_sum)

[1, 2, 3]
[4, 5, 6]
[5, 7, 9]

In [27]:
list(enumerate(zip(a,b)))

[(0, (1, 4)), (1, (2, 5)), (2, (3, 6))]

In [18]:
a = [1,2,3]
b = [4,5,6]
for idx, (ai,bi) in enumerate(zip(a,b)):
    print(idx, ai,bi)

0 1 4
1 2 5
2 3 6

In [37]:
# for i, (a, b) in enumerate(zip(list1, list2)):
#     print(i, a, b)


names = ["Alice", "Bob", "Charlie"]
scores = [85, 90, 88]

for i, (name, score) in enumerate(zip(names, scores)):
    print(i, name, score)

0 Alice 85
1 Bob 90
2 Charlie 88

In [34]:
for i,j in enumerate(zip(a,b)):
    print(i, j)

0 (1, 4)
1 (2, 5)
2 (3, 6)

In [35]:
for i,(j,k) in enumerate(zip(a,b)):
    print(i, j, k)

0 1 4
1 2 5
2 3 6

# map

In [ ]:
# map(function, iterable)

In [24]:

lst = [-3, -4, -5, -2, 3, 3, 2, 1, 0]
print(lst)
lst_power_2 = list(map(lambda x: x**2, lst))
print(lst_power_2)

[-3, -4, -5, -2, 3, 3, 2, 1, 0]
[9, 16, 25, 4, 9, 9, 4, 1, 0]

In [19]:
lst = [-3, -4, -5, -2, 3, 3, 2, 1, 0]
print(lst)

[-3, -4, -5, -2, 3, 3, 2, 1, 0]

In [39]:
abs(lst)

TypeError: bad operand type for abs(): 'list'

In [43]:
map(abs, lst)

In [45]:
print(lst)
list(map(abs, lst))

[-3, -4, -5, -2, 3, 3, 2, 1, 0]

[3, 4, 5, 2, 3, 3, 2, 1, 0]

In [46]:
numbers = [1, 2, 3, 4]

result = map(lambda x: x**2, numbers)
print(list(result))

[1, 4, 9, 16]

In [47]:
values = ["10", "20", "30"]

nums = list(map(int, values))
print(nums)

[10, 20, 30]

In [48]:
values = ["10", "20", "30"]

nums = list(map(int, values))
print(nums)

[10, 20, 30]

In [49]:
a = [1, 2, 3]
b = [10, 20, 30]

sum_list = list(map(lambda x, y: x + y, a, b))
print(sum_list)

[11, 22, 33]

In [27]:
def classify(x):
    return "PASS" if x >= 50 else "FAIL"

scores = [60, 40, 90]

result = list(map(classify, scores))
print(result)

result = list(map(lambda x: "PASS" if x >= 50 else "fFAIL", scores))
print(result)

['PASS', 'FAIL', 'PASS']
['PASS', 'fFAIL', 'PASS']

In [52]:
raw = [" 10 ", " 20 ", " 30 "]

clean = list(map(lambda x: int(x.strip()), raw))
print(f"raw: {raw}")
print(f"clean: {clean}")

raw: [' 10 ', ' 20 ', ' 30 ']
clean: [10, 20, 30]

In [63]:
a = [1,2,3,4]
b = [5,4,3,2]

sum_a_b = list(map(lambda x, y: x+y, a,b))
print(sum_a_b)

[6, 6, 6, 6]

# filter(function, iterable)

In [28]:
nums = [1, 2, 3, 4, 5, 6]

evens = list(filter(lambda x: x % 2 == 0, nums))
print(evens)

[2, 4, 6]

In [75]:
data = ["hello", "", "world", "", "python"]

clean = list(filter(lambda x: x != "", data))
print(clean)

['hello', 'world', 'python']

In [76]:
# Example 3: Words longer than 4 characters
words = ["cat", "tiger", "lion", "elephant"]

long_words = list(filter(lambda w: len(w) > 4, words))
print(long_words)

['tiger', 'elephant']

In [77]:
# Example 4: Filter numbers above threshold
temps = [15, 22, 10, 30, 18]

high = list(filter(lambda t: t >= 20, temps))
print(high)

[22, 30]

In [78]:
def is_valid(x):
    return x > 0

values = [-10, 5, 0, 20]

positives = list(filter(is_valid, values))
print(positives)

[5, 20]

In [79]:
interfaces = [
    {"name": "eth0", "status": "up"},
    {"name": "eth1", "status": "down"},
    {"name": "eth2", "status": "up"}
]

active = list(filter(lambda i: i["status"] == "up", interfaces))
print(active)

[{'name': 'eth0', 'status': 'up'}, {'name': 'eth2', 'status': 'up'}]

# iter() â†’ creates an iterator

In [81]:
nums = [10, 20, 30]

it = iter(nums)
print(it)

<list_iterator object at 0x000001F882F40E20>

In [82]:
print(next(it))  # 10
print(next(it))  # 20
print(next(it))  # 30

10
20
30

In [83]:
it = iter([1, 2, 3])

while True:
    try:
        x = next(it)
        print(x)
    except StopIteration:
        break

1
2
3

In [87]:
hex(3233234235332323455555558453135152)

'0x9f6927434f42b08247c7eab9c730'

In [88]:
format(234234234234324, 'e')

'2.342342e+14'

In [90]:
age = int(input("Enter you age: "))
print(age)

Enter you age:  55

55

In [41]:
def x_2(x):
    return x**2

lst = list(range(-100,101,1))
output = list(map(x_2, lst))
print(output)

[10000, 9801, 9604, 9409, 9216, 9025, 8836, 8649, 8464, 8281, 8100, 7921, 7744, 7569, 7396, 7225, 7056, 6889, 6724, 6561, 6400, 6241, 6084, 5929, 5776, 5625, 5476, 5329, 5184, 5041, 4900, 4761, 4624, 4489, 4356, 4225, 4096, 3969, 3844, 3721, 3600, 3481, 3364, 3249, 3136, 3025, 2916, 2809, 2704, 2601, 2500, 2401, 2304, 2209, 2116, 2025, 1936, 1849, 1764, 1681, 1600, 1521, 1444, 1369, 1296, 1225, 1156, 1089, 1024, 961, 900, 841, 784, 729, 676, 625, 576, 529, 484, 441, 400, 361, 324, 289, 256, 225, 196, 169, 144, 121, 100, 81, 64, 49, 36, 25, 16, 9, 4, 1, 0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]

In [42]:
lst = list(range(-100,101,1))
output = list(map(lambda x: x**2, lst))
print(output)

[10000, 9801, 9604, 9409, 9216, 9025, 8836, 8649, 8464, 8281, 8100, 7921, 7744, 7569, 7396, 7225, 7056, 6889, 6724, 6561, 6400, 6241, 6084, 5929, 5776, 5625, 5476, 5329, 5184, 5041, 4900, 4761, 4624, 4489, 4356, 4225, 4096, 3969, 3844, 3721, 3600, 3481, 3364, 3249, 3136, 3025, 2916, 2809, 2704, 2601, 2500, 2401, 2304, 2209, 2116, 2025, 1936, 1849, 1764, 1681, 1600, 1521, 1444, 1369, 1296, 1225, 1156, 1089, 1024, 961, 900, 841, 784, 729, 676, 625, 576, 529, 484, 441, 400, 361, 324, 289, 256, 225, 196, 169, 144, 121, 100, 81, 64, 49, 36, 25, 16, 9, 4, 1, 0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]

In [57]:
def show(*args):
    print(args)
    print(*args)
    print('-------------')
    for i in args:
        print(f"i is {i} and i^2 is {i**2}")

    print(f"the mean value is : {sum(args) / len(args)}")

show(10, 20, 30)

(10, 20, 30)
10 20 30
-------------
i is 10 and i^2 is 100
i is 20 and i^2 is 400
i is 30 and i^2 is 900
the mean value is : 20.0

In [44]:
def show(**kwargs):
    print(kwargs)

show(name="Ali", age=30)

{'name': 'Ali', 'age': 30}

In [45]:
def info(*args, **kwargs):
    print("Args:", args)
    print("Kwargs:", kwargs)

info(1, 2, city="London", job="Engineer")

Args: (1, 2)
Kwargs: {'city': 'London', 'job': 'Engineer'}

In [60]:
def info(a,b, *args, **kwargs):
    print(a)
    print(b)
    print("Args:", args)
    print("Kwargs:", kwargs)

info(0,-1, 1, 2, city="London", job="Engineer")

0
-1
Args: (1, 2)
Kwargs: {'city': 'London', 'job': 'Engineer'}

In [4]:
x = lambda i: i >= 0
print(x(-4))
print(x(3))
print(x(0))

False
True
True

In [9]:
lst = [1,2,3000, -3, 2, -4, -6, -99, 100, -3]
lst_out = list(filter(lambda i: i >= 0, lst))
print(lst_out)

[1, 2, 3000, 2, 100]

In [14]:
x = lambda i,j: i if j >= 0 else j**2
x(-1,-2)

4